.header{
	padding:15px;
}
.header a{
	color:#fff;
}
.settings{
	margin-top:5px;
}
.kanban-logo{
	width:9%;
	margin-left:10px;
}

.connectedSortable{
	min-height: 170px !important;
	border:1px solid #bdbdbd;
	height: auto !important;
	width: 24% !important;
	margin-right: 10px !important;
	border-radius: 5px;
}

.kanbans{
	 /*margin-top: 50px;*/
}

.infos{
	min-height: 500px !important;
}


.card-title{
	font-size: 12px !important;
}
.card-description{
	font-size: 12px !important;
}
.row .col{
    padding: 0 !important;
}
.card{
	margin-top: 0px !important;
	margin-bottom: 5px !important;
	min-height: 80px !important;
}
.card .card-content{
	padding: 15px !important;
}
.heading{
	font-weight: bold !important;
	font-size: 20px;
}
.modal-title{
	font-size: 20px !important;
}
.progress-modal{
	color: #00695c !important;
}
.backlog-modal{
	color: #00695c !important;
}
.development-modal{
	color: #00695c !important;
}

.modal-footer{
	position: relative;
	bottom: 50px;
}


.badge{
	font-size: 10px !important;
	border-radius: 2px;
}
.dropdown-task{
	width:200px!important;
}
.dropdown-settings{
	width:250px!important;

}